body{
    margin: 0 25%;
    width: 50%; 
}
#grid{
    display: grid;
    grid-template-columns:48% 48%;
    column-gap: 4%;
    
   
}
.tehnologije{
border-radius: 10%;
width: 100%;
padding: 40px 5px;
box-shadow:  2px 2px 3px 1px grey;
text-align: center;
font-weight: bold;
font-size: x-large;
word-wrap: break-word;

}
#removeItems{
    
    float: right;
    margin:auto;
    color: red;
    text-decoration: underline;
}
#inputPolje{
    border-color: red;
    border-radius: 10%;

}